{% extends "::basic.html.twig" %}

{% block title %}TrainingZoneBundle:User:add{% endblock %}

{% block body %}
<form method="POST">
    Nazwa: <input type="text" name="name"><br>
  
           <input type="submit" name="submit" ><br>
</form>
    
    
{% endblock %}
